/* Layouts */
.l_wrapper {
  padding: 0 20px;
}

/* Components */
.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #eee;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-container span {
  color: var(--black_90);
  font-size: 19px;
  font-weight: 600;
  line-height: 115%;
}

.header-container button {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: #444;
  background-color: transparent;
}

.input-filled {
  color: #00c6be;
}

.input-container {
  height: 70px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.input {
  height: 40px;
  display: flex;
  align-items: center;
}

#titleInput {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: var(--black_90);
  font-size: 24px;
  line-height: 108%;
  box-sizing: border-box;
  font-weight: 400;
}

/* placeholder의 글자가 가운데 정렬이 안 됨. */
#titleInput::placeholder {
  color: #959595;
  font-size: 24px;
  line-height: 108%;
  font-weight: 400;
}

#subtitleInput {
  color: var(--black_90);
  font-size: 20px;
  line-height: 90%;
}

#subtitleInput::placeholder {
  color: #959595;
  font-size: 20px;
  line-height: 90%;
}

.contents-input {
  padding: 25px 0 0;
}

#contentsTextArea {
  width: 100%;
  min-height: 600px;
  resize: none;
  line-height: 90%;
  color: var(--black_90);
  font-size: 20px;
  line-height: 90%;
}

#contentsTextArea::placeholder {
  color: #959595;
  font-size: 20px;
  line-height: 90%;
}

.controls {
  background-color: #f8f8f8;
  padding: 22px 0;
  margin-bottom: 86px;
}

.controls__icons {
  display: flex;
}

.controls img {
  width: 40px;
  height: 40px;
}

.controls img:nth-child(2) {
  margin-left: 24px;
}

.controls img:last-child {
  margin-left: auto;
}
