/* Layouts */
.l_wrapper {
  padding: 0 20px;
}

/* Components */
.wrapper {
  box-shadow: inset 0 0 20px red;
  max-width: 480px;
  margin: auto;
}

.nav-bar {
  background-color: coral;
  height: 50px;
}

.header {
  box-shadow: inset 0 0 20px yellow;
  padding: 80px 0 16px;
  border-bottom: 1px solid #eee;
}

.header-title {
  font-size: 28px;
  color: #333;
  font-weight: 400; /* pretendard로 폰트 교체 후 재조정 필요 */
  line-height: 120%;
}

.header-subtitle {
  font-size: 16px;
  color: #666;
  font-weight: 400; /* pretendard로 폰트 교체 후 재조정 필요 */
  line-height: 130%;
}

.header-info {
  /* line-height: 162%; */
  margin-top: 31px;
  display: flex;
  align-items: center;
}

.author-by {
  min-width: 13px;
  height: 13px;
  background-color: #666;
  margin-right: 3px;
}

.article-author {
  font-size: 12px;
  color: #666;
  margin-right: 7.5px;
}

.info-dot {
  width: 2px;
  height: 2px;
  background-color: #666;
  border-radius: 50%;
}

.article-time {
  margin-left: 4px;
  font-size: 12px;
  color: #959595;
  opacity: 0.5;
}

.main {
  box-shadow: inset 0 0 20px purple;
}

.footer {
  box-shadow: inset 0 0 20px blue;
}
