# Node 관련
node_modules/
package-lock.json

# 빌드 파일 및 배포 결과물
dist/
build/

# 환경 설정 파일
.env
.env.local

# 운영 체제 별 파일
.DS_Store    # macOS
Thumbs.db    # Windows

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE 및 편집기 설정 파일
.vscode/
.idea/
*.sublime-workspace
*.swp

# 테스트 결과 및 임시 파일
coverage/
*.log
