/* LAYOUT */
.l_container {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 20px auto;
  padding-bottom: 86px;
  background-color: var(--grey_10);
  overflow: scroll;
}

/* DESIGN */
.keyword {
  color: var(--mint);
}

.search-section {
  padding: 22px 20px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey_50);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-input {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--grey_60);
  font-size: 24px;
  font-weight: 200;
}

.close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5%;
  background-image: url(/public/assets/images/button-close-grey.svg);
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.tabs {
  display: flex;
  /* justify-content: space-around; */
  background-color: var(--white);
}

.tabs li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid var(--grey_40);
}

.tabs .active {
  color: var(--mint);
  border-bottom: 1px solid currentColor;
}

.recommend-section {
  background-color: var(--grey_10);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--grey_20);
}

.recommend-title {
  font-size: 20px;
  font-weight: 200;
}

.recommend-title span {
  color: var(--mint);
}

.recommend-description {
  font-size: 12px;
  color: var(--grey_80);
}

.tags {
  display: flex;
  gap: 6px;
  font-size: 15px;
  font-weight: 200;
}

.tag {
  background-color: var(--white);
  border: 1px solid var(--grey_40);
  border-radius: 20px;
  padding: 10px 16px 8px 16px;
  color: var(--grey_85);
}

.recent-section {
  background-color: var(--grey_10);
  padding: 20px;
}

.recent-description {
  font-size: 12px;
  color: var(--grey_85);
  margin-bottom: 8px;
}

.history-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-item {
  position: relative;
  padding-right: 20px;
}

.history-item span {
  cursor: pointer;
}

.delete-btn {
  width: 9px;
  height: 9px;
  background-image: url(/public/assets/images/icon-close-grey.svg);
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #999;
}

.contents {
  padding: 20px;
  background-color: var(--grey_10);
  height: calc(100vh - 73px - 39px - 86px);
  overflow: scroll;
}

.search-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--grey_80);
  padding-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters li {
  cursor: pointer;
}

.filters .active {
  color: var(--black_100);
  position: relative;
}

.filters .active::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--mint);
  border-radius: 50%;
  position: absolute;
  left: -30%;
  top: 30%;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

article {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.article-title {
  font-size: 16px;
}

.article-contents {
  display: flex;
  gap: 3%;
}

.article-letters {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;

  font-size: 12px;
  color: var(--grey_85);
}

.article-letters p {
  flex-grow: 1;
  line-height: 2;
}

.article-letters footer {
  flex-grow: 1;
}

.image-placeholder {
  width: 80px;
  height: 80px;
  background-color: var(--grey_40);
  flex-shrink: 0;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.author:first-child {
  padding-top: 0;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  padding-right: 24px;
  border-bottom: 1px solid var(--grey_20);
}

.author-contents {
  display: flex;
  gap: 4.5%;
}

.author-image {
  width: 40px;
  height: 40px;
  background-color: var(--grey_60);
  border-radius: 50%;
  flex-shrink: 0;
}

.author-letters {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;

  font-size: 12px;
  color: var(--grey_60);
}

.author-nickname {
  font-size: 16px;
  color: var(--black_100);
  line-height: 25.5px;
}

.author-description {
  font-size: 12px;
  color: var(--grey_80);
  line-height: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  padding: 6.5px 0;

  overflow-x: auto;
  flex-wrap: nowrap;
}

.tag {
  background-color: var(--white);
  border: 1px solid var(--grey_20);
  border-radius: 30px;
  padding: 8px 12px;

  color: var(--grey_90);
  white-space: nowrap;
  flex-shrink: 0;

  user-select: none;
  cursor: pointer;
}

.notify-noresult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  /* height: calc(100vh - 73px - 39px - 86px); */
  height: 100%;

  color: var(--grey_70);
  font-size: 20px;
  line-height: 20px;
}

.notify-noresult img {
  width: 47px;
  height: 67px;
}
