.l_container {
  max-width: 480px;
  margin: 0 auto;
  padding: 40px 0 80px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  background-color: var(--white);
}

header h1 {
  font-size: 24px;
  font-weight: 400;
}

.close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5%;
  background-image: url(/src/assets/images/button-close-grey.svg);
  background-size: cover;
  border-radius: 50%;
}

nav .tabs {
  display: flex;
  /* justify-content: space-around; */
  background-color: var(--white);
}

nav .tabs li {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid var(--grey_40);
}

nav .tabs .active {
  color: var(--mint);
  border-bottom: 1px solid currentColor;
}

.contents {
  padding: 20px;
  background-color: var(--grey_10);
}

.search-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-bottom: 20px;
  color: var(--grey_80);
}

.filters {
  display: flex;
  gap: 10px;
}

.filters li {
  cursor: pointer;
}

.filters .active {
  color: var(--black_100);
  position: relative;
}

.filters .active::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--mint);
  border-radius: 50%;
  position: absolute;
  left: -30%;
  top: 30%;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.article-title {
  font-size: 16px;
}

.article-contents {
  display: flex;
  gap: 3%;
}

.article-letters {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  color: var(--grey_60);
}

.article-letters p {
  flex-grow: 1;
  line-height: 2;
}

.article-letters footer {
  flex-grow: 1;
}

.image-placeholder {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  flex-shrink: 0;
}
