.author-info__subscribe-button {
  display: flex;
  align-items: center;
  padding: 10px 11px 10px 10px;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  gap: 2px;
  margin-left: auto;
}
.sub_now {
  color: var(--white);
  background-color: var(--mint_2);
  border-radius: 20px;
}
.sub_not {
  border: 1px solid var(--mint_2);
  background: var(--white);
  border-radius: 40px;
  color: var(--mint_2);
  font-weight: 400;
  font-size: 14px;
}
