.author-info__subscribe-button {
  display: flex;
  align-items: center;
  padding: 10px 11px 10px 10px;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  gap: 2px;
  margin-left: auto;
}
.sub_now {
  color: #fff;
  background-color: #00c6be;
  border-radius: 20px;
}
.sub_not {
  border: 1px solid #00c6be;
  background: #fff;
  border-radius: 40px;
  color: #00c6be;
  font-weight: 400;
  font-size: 14px;
}
