/* LAYOUT */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
}

.l_container {
  width: 100%;
  max-width: 480px;
  text-align: center;
}

/* COMPONENTS */
.header {
  margin-bottom: 12px;
}

.illustration {
  width: 100%;
  max-width: 248px;
  aspect-ratio: 248 / 259;
  margin: 0 auto 12px;
  background-image: url(/public/assets/images/login_header.png);
  background-size: cover;
}

.introduction {
  width: 100%;
  max-width: 248px;
  margin: 0 auto;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 8px;
}

p {
  font-size: 0.9em;
  color: var(--grey_60);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='email'],
input[type='password'] {
  color: var(--grey_80);
  font-size: 1em;
  padding: 11px 0 11px 0;
  /* margin-bottom: 22px; */
  border: none;
  border-bottom: 1px solid var(--grey_40);
}

input::placeholder {
  color: var(--grey_80);
  font-weight: 400;
}

.remember_login {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 0.9em;
  text-align: left;
  color: var(--black_100);
  opacity: 70%;
  margin: 22px 0 30px 0;
  user-select: none;
}

.checkbox-label {
  transform: translateY(0.75px);
}

/* 기존 체크박스 숨기기 */
.remember_login input[type='checkbox'] {
  display: none;
}

/* 체크되지 않은 상태 */
.checkbox-icon {
  width: 20px;
  height: 20px;
  background-image: url(/public/assets/images/checkbox_unchecked.png);
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
}
/* .remember_login span::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(/src/assets/images/checkbox_unchecked.png);
  background-size: cover;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 8px;
} */

/* 체크된 상태 */
input[type='checkbox']:checked + .checkbox-icon {
  content: '';
  background-image: url(/public/assets/images/checkbox_checked.png);
}

button {
  font-size: 1em;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  height: 50px;
  /* margin-bottom: 12px; */
}

.login-btn {
  background-color: var(--grey_60);
  color: var(--white);
  margin-bottom: 12px;
}

.signup-btn {
  background-color: transparent;
  color: var(--mint);
  border: 1px solid currentColor;
}

.signup-btn:hover {
  background-color: var(--mint);
  color: #fff;
}

.padding {
  padding: 20px;
}
