/* Layouts */
.l_wrapper{
  max-width: 480px;
  margin: auto;
}

/* Styles */
.l_wrapper{
  background-color: #F8F8F8;
  height: 100vh;
  padding-top: 50px;
}
.container{
  background-color: #FFF;
  padding: 0 20px;
}

/* 작가 프로필 */
.author-info{
  position: relative;
}
.author-info__profile{
  margin-bottom: 16px;
}
.author-info__name{
  font-size: 27px;
  font-weight: 300;
  color: #333;
  line-height: 1.2;
}
.author-info__role{
  font-size: 12px;
  font-weight: 300;
  color: #959595;
  line-height: 1.5;
}
.author-info__avatar{
  position: absolute;
  top: -40px;
  right: 0;
  background-color: #CCC;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.author-info__stats{
  display: flex;
  gap: 30px;
}
.author-info__stat{
  display: flex;
  flex-direction: column;
}
.author-info__label{
  font-size: 12px;
  font-weight: 300;
  color: #959595;
  line-height: 1.5;
}
.author-info__value{
  font-size: 16px;
  font-weight: 300;
  color: #666;
  line-height: 1.25;
}
.author-info__subscribe-button{
  margin-left: auto;
  padding: 9px 15px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  color: #FFF;
  background-color: #CCC;
  font-size: 14px;
}
.subscribed::before{
  content: '';
  background-image: url('../../assets/images/check_white.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-60%);
  z-index: 1;
}
.subscribed{
  padding: 9px 12px 9px 30px;
  background-color: #00C6BE;
} 