/* 스크롤바 숨기기 (인터넷익스플로러, 엣지, 파이어폭스) */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 스크롤바 숨기기 (크롬, 사파리, 오페라) */
*::-webkit-scrollbar {
  display: none;
}

.l_container {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 80px;
  background-color: var(--grey_10);
  overflow: scroll;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  position: relative;
  background-color: var(--white);
}

header h1 {
  font-size: 24px;
  font-weight: 400;
}

.close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5%;
  background-image: url(/src/assets/images/button-close-grey.svg);
  background-size: cover;
  border-radius: 50%;
}

nav .tabs {
  display: flex;
  /* justify-content: space-around; */
  background-color: var(--white);
}

nav .tabs li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1.5px solid var(--grey_40);
}

nav .tabs .active {
  color: var(--mint);
  border-bottom: 1.5px solid currentColor;
}

.contents {
  /* padding: 20px; */
  background-color: var(--grey_10);
}

.search-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  color: var(--grey_80);
  font-size: 12px;
  line-height: 300%;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.author:first-child {
  padding-top: 0;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  padding-right: 24px;
  border-bottom: 1px solid var(--grey_20);
}

.author-contents {
  display: flex;
  gap: 4.5%;
}

.author-image {
  width: 40px;
  height: 40px;
  background-color: var(--grey_60);
  border-radius: 50%;
  flex-shrink: 0;
}

.author-letters {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;

  font-size: 12px;
  color: var(--grey_60);
}

.author-nickname {
  font-size: 16px;
  color: var(--black_100);
  line-height: 25.5px;
}

.keyword {
  color: var(--mint);
}

.author-description {
  font-size: 12px;
  color: var(--grey_80);
  line-height: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  padding: 6.5px 0;

  overflow: scroll;
}

.tag {
  background-color: var(--white);
  border: 1px solid var(--grey_20);
  border-radius: 30px;
  padding: 8px 12px;

  color: var(--grey_90);
}
